# Set the database system and PDBADMIN password
ORACLE_PWD=Oracle1234

# Set the password for APEX schemas (APEX_PUBLIC_USER, APEX_LISTENER, APEX_REST_PUBLIC_USER)
APEX_PWD=Oracle1234

# Database connection details for ORDS
DBHOST=oracle-db
DBPORT=1521
DBSERVICENAME=FREEPDB1
